# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/db.json

# misc
.DS_Store

# Environment files (ignore all except .env.example)
*.env
*.env.local
*.env.production
*.env.development
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.claude/settings.local.json
