/* src/components/AdminModal.css */

@import './Modal.css';

/* Estilos específicos para el modal en AdminScreen */

.modal {
  max-width: 800px; /* Ancho mayor para mostrar más información */
  max-height: 80vh; /* Altura máxima del modal */
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.modal-header h2 {
  margin: 0;
}

.close-button {
  background-color: #dc3545; /* Color rojo para el botón de cerrar */
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #c82333;
}

.modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Cambiamos de overflow-y: auto a overflow: hidden */
  padding-top: 10px;
}

.modal-actions {
  margin-bottom: 10px; /* Espacio entre el botón y la lista de eventos */
}

/* Asegúrate de que estos estilos estén aplicados correctamente a tu EventsList */
.events-list-container {
  flex: 1;
  overflow-y: auto; /* Mantenemos el scroll vertical solo en la lista de eventos */
}


