/* src/components/ButtonsGroup.css */

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-button {
    width: 80%; /* Reducido de 100% a 80% */
    height: 80%; /* Reducido de 90% a 80% */
    font-size: 1.2rem; /* Reducido de 1.5rem a 1.2rem */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 123, 255, 0.8);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user-button:hover {
    background-color: rgba(0, 86, 179, 0.9);
  }
  
  .user-button svg {
    margin-right: 8px; /* Reducido de 10px a 8px */
    font-size: 1.5rem; /* Reducido de 2rem a 1.5rem */
  }

.buttons-group {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.button-container {
    height: 10vh; /* Reducido de 15vh a 10vh */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Añadido para dar espacio entre botones */
}
