/* src/components/EventModal.css */

@import './Modal.css';

/* Estilos específicos para EventModal */

.modal {
  border-radius: 10px;
  width: 85%;
  max-width: 800px;
  height: auto; /* Cambiado para ajustarse al contenido */
  min-height: 200px; /* Altura mínima razonable */
  padding: 20px;
  box-sizing: border-box;
}

.modal textarea {
    width: 100%; /* Ocupa todo el ancho disponible dentro del modal */
    box-sizing: border-box; /* Incluye padding y borde en el ancho total */
    height: 100px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.modal textarea:focus {
  outline: none;
  border-color: #007bff;
}

.modal-buttons {
  justify-content: space-between; /* Distribuir los botones equitativamente */
}

.modal-buttons button {
  flex: 1;
}

@media (max-width: 768px) {
  .modal {
    width: 85%; /* Mantener el mismo ancho que en desktop */
    height: auto;
  }
}




